<html>
  <head>
  <title>Hello, Star Canada!</title>
  </head>
  <body>
    <h1>Hello, Star Canada!</h1>
    <p>
      This web server and template were installed to <%= @fqdn %>. 
    </p>
  </body>
</html>

